@import url('https://fonts.googleapis.com/css?family=Open+Sans');


html {
  background: url(https://cdn.pixabay.com/photo/2020/02/14/16/04/mallorca-4848741_1280.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}


.done {
  text-decoration: line-through;
}

.container {
  text-align: center;
  grid-template-columns: 12px 12px 12px;
  grid-template-rows: 12px 12px 12px;
}

h2 {
  font-size: 1.5rem;
}

li {
  color: white;
  font-family: fantasy;
  font-size: 1.3rem;
  margin:auto;
}

#enter {
  cursor: pointer;
}


#deleteAll {
  /* display: grid; */
  margin:auto;
  display:block;
  width: 9%;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  transition: all 0.2s ease-in-out;
  font-size: 12px;
  text-transform: uppercase;
  color: #4B878F;
  letter-spacing: 2px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  position: absolute;
  top: 50%;
  justify-content: center;
  margin:0 auto;
}

#deleteAll:hover {
  cursor: pointer;
}
